@model IEnumerable<HW5.Models.Customer>

@{
    ViewBag.Title = "Submissions";
}

<h2>Submissions</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Dob)</th>
        <th>@Html.DisplayNameFor(model => model.Street)</th>
        <th>@Html.DisplayNameFor(model => model.City)</th>
        <th>@Html.DisplayNameFor(model => model.StateCode)</th>
        <th>@Html.DisplayNameFor(model => model.ZipCode)</th>
        <th>@Html.DisplayNameFor(model => model.County)</th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => customer.Id)</td>
            <td>@Html.DisplayFor(modelItem => customer.Name)</td>
            <td>@Html.DisplayFor(modelItem => customer.Dob)</td>
            <td>@Html.DisplayFor(modelItem => customer.Street)</td>
            <td>@Html.DisplayFor(modelItem => customer.City)</td>
            <td>@Html.DisplayFor(modelItem => customer.StateCode)</td>
            <td>@Html.DisplayFor(modelItem => customer.ZipCode)</td>
            <td>@Html.DisplayFor(modelItem => customer.County)</td>
        </tr>
    }
    </table>


